

<!-- Page Header -->
<div class="container text-center">
    <div class="jumbotron">
        <h1>
           CharBuilder
        </h1>
        <p>An easy way to create your own personal avatar for 
            any game and any reason!
        </p>
    </div>
</div>
      <!-- Page Header -->

<div class="container">

    <div class="container text-center">
        <form
        #newCharForm="ngForm"
        
        id="main_form"
        >
            <h3>Name</h3>
            <input
            type="text"
            id="nameField"
            required
            name="nameField"
            [(ngModel)]="nameField" 
            class="col-form-label"
            />
            <div 
            class="row"
            id="id0"
            >
            <!-- Fields to Create --> 
                <div class="col display_list_border ">
                    <input

                    class="text-center inputs"
                    type="text"
                    >
                 </div>
                 <div class="col display_list_border">
                     <input
                     class="text-center inputs"
                     type="text"
                     >
                 </div>
             <!-- Fields to Create -->
        </div>
    </form>

    <!-- Field Button -->
    <button
    type="button" 
    class="btn btn-warning"
    (click)="onCreateFields()"
    >
    Create New Field</button>
    </div>
    <!-- Field Button -->

    <!-- Save Character Button -->
    <button
    type="button"
    class="btn btn-success"
    (click)="onSaveCharacter()"
    id="save_character"
    >
    Save Character
    </button>
    <!-- Save Character Button -->

</div>