#save_character {
    margin-top: 45px;
    width: 100%;
}

.margin-bottom {
    margin-bottom: 45px;
}

.blck {
    display: block;
}

.big_gap_bottom {
    margin-bottom: 200px;
}

.margin-right {
    margin-right: 15px;
}

.width_check {
    max-width: 10%;
}

.dice {
    width:25%; 
    height: auto;
    display: block;
}
