

<!-- Page Header -->
<div class="container text-center">
    <div class="jumbotron">
        <h1>
           CharBuilder
        </h1>
        <p>An easy way to create your own personal avatar for 
            any game and any reason!
        </p>
    </div>
</div>
      <!-- Page Header -->

<div class="container">

    <div class="container text-center">
        <form>
            <h3>Name</h3>
            <input 
            class="col-form-label"
            />
            <div 
            class="row"
            >
            <div class="col display_list_border ">
               <input
               name=""
               class="text-center"
               type="text"
               >
            </div>
            <div class="col display_list_border">
                <input
                class="text-center"
                type="text"
                >
            </div>
        </div>
    </form>
    <button 
    class="btn btn-warning"
    
    >
    Create New Field</button>
    </div>

</div>