<!-- Page Header -->
<div class="container text-center">
  <div class="jumbotron">
    <h1>
     CharBuilder
    </h1>
    <p>An easy way to create your own personal avatar for any game and any reason!</p>
  </div>
</div>
<!-- Page Header -->

<!-- Login -->
<div class="container">
    <h2 class="text-center">Please Login</h2>
    <br />
    <form #userLogin="ngForm" (ngSubmit)="onSubmit(userLogin.value)">
      <!-- Incorrect Login Information -->
      <div 
      *ngIf="!autheticate"
      class="alert alert-danger"
      >
        <p>
          The username and password are not recognized or do not match.
        </p>
      </div>
      <!-- Incorrect Login Information -->
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input 
            id="loginEmail"
            class="form-control" 
            type="email" 
            placeholder="example@example.com"
            required
            email
            name="loginEmail"
            [(ngModel)]="loginEmail"
            #loginEmailHtml="ngModel"
            >
            <!-- Validation for Email -->
            <div *ngIf="userLogin.submitted && loginEmailHtml.invalid">
                <div *ngIf="loginEmailHtml.invalid && (loginEmailHtml.dirty || loginEmailHtml.touched)"
                class="alert alert-danger">
                  <p>Please enter a valid email address such as example@example.com.</p>
                </div>
            </div>
          <!-- Validation for Email -->
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input 
            class="form-control" 
            type="password" 
            placeholder="Password"
            required
            name="loginPassword"
            [(ngModel)]="loginPassword"
            #loginPasswordHtml="ngModel"
            >
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <div class="text-right">
        <p>Don't have an account?
          <a routerLink="/signup" routerLinkActive="active">Sign Up!</a>
        </p>
      </div>
</div>
  <!-- Login -->

