<!-- Page Header -->
<div class="container text-center">
    <div class="jumbotron">
        <h1>
           CharBuilder
        </h1>
        <p>An easy way to create your own personal avatar for 
            any game and any reason!
        </p>
    </div>
</div>
<!-- Page Header -->


<div class="container text-center">
    <h1>Character Created!</h1>
    <p>
        Congratulations! You have just created a new character!
    </p>
    <button
        class="btn btn-success text-center width"
        (click)="onNavigate()"
        >
        Character List
    </button>
</div>

