.list-group-item {
    background-color: gainsboro;
}

#createBtn {
    background-color: blue;
}

.list-group{
    max-width: 50%;
}

/* 
    Centers the container elements
*/
.col-center {
    margin: 0 auto;
}