<!-- Page Header -->
<div class="container text-center">
    <div class="jumbotron">
      <h1>
       CharBuilder
      </h1>
      <p>An easy way to create your own personal avatar for any game and any reason!</p>
    </div>
  </div>
  <!-- Page Header -->

  <div class="container">
    <ul class="list-group text-center">
        <li 
        class="list-group-item"
        *ngFor="let char of characterList"
        >
          <p>{{char.getName()}}</p>  
        </li>

        <br>
        <!-- Navigate-->
        <button 
        class="btn btn-primary"
        (click)="toCreateCharacter()"
        >
          CREATE NEW CHARACTER
        </button>
        <!-- Navigate -->
      </ul>
  </div>