<!-- Page Header -->
<div class="container text-center">
    <div class="jumbotron">
      <h1>
       CharBuilder
      </h1>
      <p>An easy way to create your own personal avatar for any game and any reason!</p>
    </div>
  </div>
  <!-- Page Header -->

  <div class="container text-center">
    <ul class="list-group col-center">
        <li 
        class="list-group-item"
        *ngFor="let char of characterList"
        >
          <a [routerLink]="['/selected-character', char.getUniqueId()]">
            {{char.getName()}}
          </a>
        </li>

        <br>
        <!-- Navigate-->
        <button 
        (click)=" toCreateCharacter()"
        class="btn btn-secondary"
        >
          CREATE NEW CHARACTER
        </button>
        <!-- Navigate -->
      </ul>
  </div>