<!-- Page Header -->
<div class="container text-center">
    <div class="jumbotron">
      <h1>
       CharBuilder
      </h1>
      <p>An easy way to create your own personal avatar for any game and any reason!</p>
    </div>
  </div>
  <!-- Page Header -->

  <div class="container">
    <ul class="list-group text-center">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
        <br>
        <button class="btn btn-primary">TEST</button>
      </ul>
  </div>