/* You can add global styles to this file, and also import other style files */
.display_list_border {
    border-style: solid;
    border-width: 1px;
    /*border-color*/
    border-radius: 3px;
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.display_inline{
    display: inline;
}